.header{
    background-color: #1C2B35;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 140px;
    padding-left: 150px;
}
.header img{
    display: flex;
    padding-top: 16px;
}
.header a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    padding-left: 36px;
    font-size: 17px;
}
.header a:hover{
    color: orange;
}
